.lead {
    &__wrapper {
        padding: 6rem 4rem;
        align-self: flex-end;
    }

    &__title {
        font-size: 5rem;
        color: $wheat;
        margin-bottom: 4rem;
    }

    &__about {
        width: 50%;
        font-size: 2rem;
        font-weight: 600;
        color: $white;
        margin-bottom: 2rem;
    }

    &__creators {
        width: 50%;
        font-size: 1.5rem;
        font-weight: 400;
        color: $white;
    }
}

.where-it-do {
    font-family: cooper-black-std, serif;
    text-transform: uppercase;
}

.what-it-do {
    font-style: italic;
    text-transform: uppercase;
}
